<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="static/images/trophy.svg">
</head>
<body style="background-image:url('static/images/achievements-page/achievements-background.jpg');background-attachment: fixed;background-size: cover;background-repeat: no-repeat;">
    <div class="page-container">
        {% include 'header.html' %}
        <div class="main-content">
            <div class="achievements-title animate-on-load">
                <h1>🥇 My achievements</h1>
                <hr>
            </div>
            <div class="achievements-content">
                <div class="achievements-section animate-on-load">
                    <div class="text">
                        <h2>1. Touraments</h2>
                        <p>
                            I have competed lots of touraments since I was born, including takwendo, chess, swimming, football, basketball, ... But the one competition that I remembered the most was when I
                            participated in a game touraments with my friends. I only participated that competition once but the achievements that I got was unexpectedly high, and this make me realize where
                            my ranking was for the things that I do like most. Moreover, it gave me motivation to do better at other things in life. Therefore, this is why this competition make last-long impressed for me most.
                        </p>
                    </div>
                    <div class="image">
                        <img src="static/images/achievements-page/touraments.jpeg" alt="touraments">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="achievements-section reverse animate-on-load">
                    <div class="text">
                        <h2>2. Python</h2>
                        <p>
                            I have managed to succeed learning a python course and can build up my own portfolio like this and several simple python projects such as applying api or database, etc.
                            After learning this courses, I realized that only learning these courses and get its certificate nowadays is not enough, you have to constantly update about this field,
                            seek opportunities for any kind of job as soon as possible, and finally, you have to act fast and immediate if you want to survive and have a job with high salary.
                        </p>
                    </div>
                    <div class="image">
                        <img src="static/images/achievements-page/python.jpg" alt="python figure">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="achievements-section animate-on-load">
                    <div class="text">
                        <h2>3. Goals</h2>
                        <p>
                            Every semester, I set an own goal for things I have to done before the semester end, for example score I have to earned, things I have to gathered information, skills I have to gain.
                            And so far, I have learned for 2 semester on the university level, I have successfully finished all the goal I have set before, it just simple task that have to be done, but still I can train
                            myself to improve my time-management skill to succeed more task in the upcoming future.
                        </p>
                    </div>
                    <div class="image">
                        <img src="static/images/achievements-page/goals.jpg" alt="goals picture">
                    </div>
                </div>
                <footer class="site-footer" >
                    <p class="animate-on-load">© 2025 Designed & Developed by Dao Tien Dung | <a href="#top">Back to Top</a></p>
                </footer>
            </div>
        </div>
    </div>

</body>
</html>