<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="static/images/cloud.svg">
</head>
<body style="background-image: url('static/images/dream-page/dream-background.jpg');background-size: cover;background-repeat: no-repeat; background-attachment: fixed;">
    <div class="page-container">
        {% include 'header.html' %}
        <div class="main-content animate-on-load">
            <div class="dream-title">
                <h1>🚀 My future</h1>
                <hr>
            </div>
            <div class="dream-container">
                <div class="dream-grid">
                    <div class="dream-card">
                        <h2>🕵️‍♂️ Who Am I Now</h2>
                        <hr>
                        <div class="profile-section">
                            <img src="static/images/dream-page/profile-picture.png" alt="Profile Picture">
                            <div>
                                <p class="profile-title-text"><strong>💻 Software Engineer</strong><br>Interested in Web Development & AI</p>
                                <p class="profile-highlighted-text">Building small projects using modern technologies.</p>
                            </div>
                        </div>
                    
                    </div>
                    <div class="dream-card">
                        <h2>👀 My vision(5 years)</h2>
                        <hr>
                        <ul class="dream-list">
                            <li>🏢 Working for BigTech Company</li>
                            <li>💸 Average Salary: 20m/month</li>
                            <li>💡 Innovation solutions</li>
                        </ul>
                    </div>
                    <div class="dream-card">
                        <h2>✍️ My mission</h2>
                        <hr>
                        <ul class="dream-list">
                            <li>📝 <strong>Year 1:</strong> Succeed courses and apply CV</li>
                            <li>🧑‍🏫 <strong>Year 2:</strong> Accomplished subject and intern at a tech company</li>
                            <li>🧑‍🎓 <strong>Year 3:</strong> Graduate and start looking for a full-time job</li>
                            <li>📈 <strong>Year 4:</strong> Settle down and hard-working</li>
                        </ul>
                    </div>
                    <div class="dream-card">
                        <h2>🎯 Strategic goal</h2>
                        <hr>
                        <div class="dream-grid">
                            <div class="dream-card">
                                <h3>🦾 Technical</h3>
                                <hr>
                                <ul class="dream-list">
                                    <li>Python</li>
                                    <li>React</li>
                                </ul>
                            </div>
                            <div class="dream-card">
                                <h3>🗣 Soft Skills</h3>
                                <hr>
                                <ul class="dream-list">
                                    <li>Communication</li>
                                    <li>Problem-solving</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dream-card">
                        <h2>🥅 Success Metrics</h2>
                        <hr>
                        <div class="metrics">
                            <div><span>Secure internship</span><span>10%</span></div>
                            <div class="progress-bar"><span style="width: 10%;"></span></div>
                            <div><span>Succeeding courses</span><span>30%</span></div>
                            <div class="progress-bar"><span style="width: 30%;"></span></div>
                            <div><span>Soft skills</span><span>20%</span></div>
                            <div class="progress-bar"><span style="width: 20%;"></span></div>
                        </div>
                    </div>
                    <div class="dream-card">
                        <h2>🎗 Resources & Support</h2>
                        <hr>
                        <ul class="dream-list">
                            <li>Courses</li>
                            <li>Mentor</li>
                            <li>Communities</li>
                            <li>Tools</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer" >
            <p class="animate-on-load">© 2025 Designed & Developed by Dao Tien Dung | <a href="#top">Back to Top</a></p>
        </footer>
    </div>

</body>
</html>