<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="static/images/controller.svg">
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/details-ball-sport_23-2151869787.jpg?ga=GA1.1.1905250902.1748076078&semt=ais_hybrid&w=740'); background-size: cover;background-repeat: no-repeat; background-attachment: fixed;">
    <div class="page-container">
        {% include 'header.html' %}
        <div class="main-content">
            <div class="hobby-title animate-on-load">
                <h1>⚽ My Hobby</h1>
                <hr>
            </div>
            <div class="hobby-content">
                <div class="hobby-section animate-on-load">
                    <div class="hobby-text">
                        <h2>1. Video games</h2>
                        <p>Most boys around the world like to play video games, and I am no exception. Games are a form of entertainment that help people reduce stress after a long day of work or study. Personally, I'm a university freshman, and dealing with a bunch of deadlines and assignments stresses me out a lot. Video games are where I can find peace and relax after working hard all day. Therefore, playing video games is at the top of my list of favorite hobbies.</p>
                    </div>
                    <div class="hobby-images">
                        <img src="static/images/hobby-page/video-games-img/videogames1.jpg" class="hobby-img-top-left">
                        <img src="static/images/hobby-page/video-games-img/videogames2.jpg" class="hobby-img-top-right">
                        <img src="static/images/hobby-page/video-games-img/videogames3.jpg" class="hobby-img-bottom-left">
                        <img src="static/images/hobby-page/video-games-img/videogames4.jpg" class="hobby-img-bottom-right">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="hobby-section animate-on-load">
                    <div class="hobby-text">
                        <h2>2. Football</h2>
                        <p>Football was always one of my strength and also one of my favorite hobbies. I've played football since I was five in a club call Kick Up Football Club ,back then I was a superstar on the field, and I was the expectation of the whole team. Therefore, I've love football and still playing it nowadays. Although, I have a bad injury on my left knee, but it can't stop me from my love for football, and this also represent the all the passion I got for the sport I loved.</p>
                    </div>
                    <div class="hobby-images">
                        <img src="static/images/hobby-page/football-img/football1.jpg">
                        <img src="static/images/hobby-page/football-img/football2.jpg">
                        <img src="static/images/hobby-page/football-img/football3.jpg">
                        <img src="static/images/hobby-page/football-img/football4.jpg">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="hobby-section animate-on-load">
                    <div class="hobby-text">
                        <h2>3. Coding</h2>
                        <p>I have just start coding from the beginning of the university, I barely know anything about IT before that. And when I started coding, I realized that coding have the same logical thinking like math, I from that realization, I started to love code like I used to love math back then in secondary school and high school. And then forward, as a member of IT's family, I started to ask a lot about how can I succeed in this pathing, and that's the story how I have become a coder.</p>
                    </div>
                    <div class="hobby-images">
                        <img src="static/images/hobby-page/coding-img/coding1.jpg">
                        <img src="static/images/hobby-page/coding-img/coding2.jpg">
                        <img src="static/images/hobby-page/coding-img/coding3.jpg">
                        <img src="static/images/hobby-page/coding-img/coding4.jpg">
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer" >
            <p class="animate-on-load">© 2025 Designed & Developed by Dao Tien Dung | <a href="#top">Back to Top</a></p>
        </footer>
    </div>
</body>
</html>