<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="static/images/house.svg">
</head>

<body
    style="background-image: url('static/images/home-page/home-background.jpg'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
    <div class="page-container">
        {% include 'header.html'%}
        <div class="main-content">
            <div class="home-container">
                <h1 class="animate-on-load" style="justify-content: flex-start;animation-delay: 0.3s;">Welcome to</h1>
                <h1 class="animate-on-load" style="justify-content: center;animation-delay: 0.6s;">Dung Dao's Final</h1>
                <h1 class="animate-on-load" style="justify-content: flex-end;animation-delay: 0.9s;">Web Portfolio</h1>
            </div>
        </div>
        <footer class="site-footer" >
            <p class="animate-on-load">© 2025 Designed & Developed by Dao Tien Dung | <a href="#top">Back to Top</a></p>
        </footer>
    </div>

</body>

</html>