<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strength</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="static/images/person-arms-up.svg">
</head>
<body style="background-image: url('static/images/strength-page/strength-background.jpg');background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
    <div class="page-container">
        {% include "header.html" %}
        <div class="main-content">
            <div class="strength-title animate-on-load">
                <h1>💪 My strength</h1>
                <hr>
            </div>
            <div class="strength-content">
                <div class="strength-section animate-on-load">
                    <div class="strength-text">
                        <h2>1. Logical Thinking</h2>
                        <p>Logical thinking is the ability to analyze situations, identify patterns, and draw sound conclusions based on evidence and reasoning. It involves breaking down complex problems into manageable parts, evaluating information objectively, and making well-founded decisions. I consider this one of my strengths, as I have consistently demonstrated strong logical thinking throughout my academic journey. During both secondary and high school, mathematics was one of my favorite subjects, and I consistently performed well in it. My success in math reflects my ability to think logically and approach problems with clarity and precision.</p>
                    </div>
                    <div class="strength-images">
                        <img src="static/images/strength-page/logical-images/logical1.jpg" class="strength-img-top-left">
                        <img src="static/images/strength-page/logical-images/logical2.jpg" class="strength-img-top-right">
                        <img src="static/images/strength-page/logical-images/logical3.jpg" class="logical-img-bottom">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="strength-section animate-on-load">
                    <div class="strength-text">
                        <h2>2. Sports</h2>
                        <p>Sports have always played a key role in my life, offering not only physical benefits but also teaching valuable life skills like discipline, teamwork, and perseverance. Engaging in different sports has helped me stay balanced, manage stress, and build strong relationships with others. Among all the sports I’ve tried, football stands out as my favorite. I enjoy the fast pace, the strategic plays, and the way every player contributes to the team’s success. Football has taught me how to think quickly under pressure, communicate effectively, and never give up—even when the odds are against us. It’s more than just a game to me; it’s a way to grow, connect with others, and challenge myself.</p>
                    </div>
                    <div class="strength-images">
                        <img src="static/images/strength-page/sport-images/sports1.jpeg" class="strength-img-top-left">
                        <img src="static/images/strength-page/sport-images/sports2.jpeg" class="strength-img-top-right">
                        <img src="static/images/strength-page/sport-images/sports3.jpeg" class="sports-img-bottom">
                    </div>
                </div>
                <div class="section-divider"></div>
                <div class="strength-section animate-on-load">
                    <div class="strength-text">
                        <h2>3. Positivity</h2>
                        <p>Positivity is the ability to maintain an optimistic and hopeful mindset, even in the face of challenges or uncertainty. It involves focusing on the good, encouraging others, and approaching situations with a can-do attitude. I consider positivity one of my key strengths, as I always try to look for solutions instead of dwelling on problems. During stressful times in school or group projects, I often helped lift the mood by staying calm and motivated, which encouraged others to keep going too. I believe that a positive outlook not only improves personal well-being but also creates a more supportive and productive environment for everyone around me.</p>
                    </div>
                    <div class="strength-images">
                        <img src="static/images/strength-page/positivity-images/positivity1.jpeg" class="strength-img-top-left">
                        <img src="static/images/strength-page/positivity-images/positivity2.jpeg" class="strength-img-top-right">
                        <img src="static/images/strength-page/positivity-images/positivity3.jpeg" class="positivity-bottom-img">
                    </div>
                </div>
            </div>
            <footer class="site-footer" >
                <p class="animate-on-load">© 2025 Designed & Developed by Dao Tien Dung | <a href="#top">Back to Top</a></p>
            </footer>
        </div>
    </div>
</body>
</html>